<header class="my-header">
  <img src="images/GameDayCompanion_favicon-no-bg.png"
       height="9vh"
       width="9vh" />
</header>

<body class="my-body">
  <div class="player">Player </div>
  <div class="player">{{turn}}'s </div>
  <div class="player">turn.</div>
  <button class="my-button" (click)="handleClick()"></button>
  <button class="my-button" (click)="handleClick()"></button>
  <button class="my-button" (click)="handleClick()"></button>
  <button class="my-button" (click)="handleClick()"></button>
  <button class="my-button" (click)="handleClick()"></button>
  <button class="my-button" (click)="handleClick()"></button>
  <button class="my-button" (click)="handleClick()"></button>
  <button class="my-button" (click)="handleClick()"></button>
  <button class="my-button" (click)="handleClick()"></button>
</body>

<footer class="my-footer"></footer>

<router-outlet></router-outlet>
